$gray-100: #fcfcfc;
$gray-200: #efefef;
$gray-300: #cccccc;
$gray-400: #aaaaaa;
$gray-500: #939393;
$gray-600: #555555;

$spacer: 16px;

$spacing-1: $spacer * 0.25; // 4px
$spacing-2: $spacer * 0.5; // 8px
$spacing-3: $spacer * 0.75; // 12px
$spacing-4: $spacer; // 16px
$spacing-5: $spacer * 1.25; // 20px
$spacing-6: $spacer * 1.5; // 24px
$spacing-7: $spacer * 2; // 32px
$spacing-8: $spacer * 2.5; // 40px

// Message center and survey container
$interaction-height: 475px;
$interaction-width: 360px;

$blue-input: #478fcc;
$blue-interact: darken(#478fcc, 7%);
$black: #000000;
$white: #ffffff;
$red-alert: #b10606;
$red-apptentive: #dc2636;
$red-lite: #df5463;
$success-green: #67b95a;

$font-family: 'Lato', 'Lato-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
  sans-serif;

$box-shadow-container: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
$box-shadow-element: 0 1px 4px rgba($black, 0.1);
$border-radius: 4px;

$high-zindex: 2147483647;
