@import '_config.scss';

@keyframes apptentive_slide_up {
  0% {
    bottom: -480px;
    opacity: 0.1;
  }
  100% {
    bottom: 10px;
    opacity: 1;
  }
}

@import '_mixins.scss';
@import '_typography.scss';
@import '_components.scss';
@import '_survey.scss';
@import '_note.scss';
@import '_love-dialog.scss';
@import '_message-center.scss';
@import '_placement.scss';
